//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Dashmix functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

// Bootstrap variables
@import './../bootstrap/variables';

// Tables
.table {

    font-size: 13px;

    th, td {

        padding: 0.50em;
    }

    tr {

        &.details {

            & + tr {

                > td {

                    padding: 0;

                    > .table {

                        margin-bottom: 0;
                        background: #fff;

                        tr {

                            background: #fff;

                            &:first-child {

                                td {

                                    border-top: none;
                                }
                            }

                            td {

                                background: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    // Buttons in tables
    .btn {

        &.btn-sm {

            padding: 0.125rem 0.25rem;

            .fa {

                width: 15px;
            }
        }
    }
}

// Custom form controls
.custom-control {

    &.custom-switch {

        // Fix position of switch
        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);

        min-height: 2.2rem;

        &.custom-control-lg {

            input {

                & + label {

                    min-width: 75px;
                    min-height: 24px;
                }
            }
        }

        input {

            &:disabled {

                & + label {

                    &::before {

                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

// Tabs
.content {

    .nav-tabs {

        margin-bottom: -3px;
        padding: 0.75rem 1.25rem 0;

        .nav-item {

            margin: 3px 3px 0;

            .nav-link {

                border: 1px solid $gray-300;
                border-bottom: 0;

                &.active,
                &:hover {

                    border-top: 1px solid $gray-300;
                    border-right: 1px solid $gray-300;
                    border-left: 1px solid $gray-300;
                }
            }
        }
    }
}

// Chats
.chat-row {

    $pos-from-right: 20px;

    position: fixed;
    bottom: 0;
    z-index: 20;
    right: $pos-from-right;
    transition: 0.7s ease right;
    align-items: flex-end;
    justify-content: flex-end;

    @media( min-width: 992px ) {

        .side-overlay-o & {

            right: 340px;
        }
    }

    .block {

        margin-right: 20px;

        .block-header {

            .block-title {

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .block-content {

            .message {

                .message-body {

                    img {

                        margin-top: 4px;
                    }
                }
            }
        }
    }
}

// Forms
form {

    &.form-small {

        font-size: 14px;

        .block {

            .block-content {

                padding: 1.25rem 1.25rem;

                .form-group {

                    margin-bottom: 0.5rem;

                    .form-control {

                        height: calc(2rem + 0px);
                        padding: 0.175rem 1rem;
                        font-size: inherit;
                    }

                    .input-group {

                        .input-group-append {

                            .input-group-text {

                                padding-top: 0.175rem;
                                padding-bottom: 0.175rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Select2 in an input group
.input-group {

    .select2-container {

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

    }
}
